body {
  background-color: honeydew;
}

.garden {
  border: 2px solid maroon;
  padding: 2px;
  gap: 2px;
}

.garden p {
  margin: 0;
  border-radius: 5px;
  padding: 0.25rem;
  background-color: wheat;
  text-align: center;
}

#level-1 {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#level-2 {
  .peas {
    grid-column: 1 / span 2;
  }

  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#level-3 {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .peas {
    grid-column: 1 / span 1;
  }
  .onions {
    grid-column: 2 / span 2;
  }
  .tomatoes {
    grid-column: 1 / span 2;
  }
  .carrots {
    grid-column: 1 / span 3;
  }
}

#level-4 {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .peas {
    grid-column: 1 / span 2;
  }
  .onions {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  .carrots {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}

#level-5 {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .carrots {
    grid-row: 1 / span 3;
  }

  .tomatoes {
    grid-column: 2 / span 3;
    grid-row: 3 / span 1;
  }
  .onions {
    grid-row: 1 / span 2;
    grid-column: 3 / span 1;
  }
  .peas {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
  }

  .lettuce {
    grid-column: 5 / span 1;
  }
}

#level-6 {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 5rem);
}
